doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Custom Object Table
    a(href="/update-cobj") Add/Update this table
    
    table(border="1")
      thead
        tr
          th Name
          th Team
          th Wins
      tbody
        if data && data.length
          each driver in data
            tr
              td= driver.properties.name
              td= driver.properties.team
              td= driver.properties.wins
        else
          tr
            td(colspan="3") No drivers found